@import "mixins";

.controller-shows.action-index {
  section {
    @include clearfix;
    width: 1170px;
    margin: auto;
    margin-bottom: 200px;
    padding-top: 20px;

    article {
      position: relative;
      float: left;
      width: 22%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 60px;
      padding: 0;
      background-color: rgb(237, 237, 237);
      color: #444;
      border: 1px solid rgb(29, 67, 92);

      img {
        @include responsive;
      }

      h3 {
        text-align: center;
        background-color: rgb(29, 67, 92);
        color: white;
        padding: 5px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1em;
      }

      h4, h5 {
        padding: 5px;
        font-family: Georgia;
        font-weight: normal;
      }

      h4 { float: left; }

      h5 { float: right; }

      h6 {
        @include left-ribbon(rgb(215, 90, 82), white);
        position: absolute;
        top: 5px;
        left: 0;
        padding: 2px 5px;
        font-family: monospace;
        font-size: 1em;
        font-weight: normal;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        text-transform: lowercase;
        opacity: 0.7;
      }

      &:hover h6 { opacity: 1 }
    }
  }
}
