.controller-shows.action-show {
  h1 {
    white-space: nowrap;
    top: 250px;
  }

  .flipclock {
    width: auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    .flip-clock-label {
      color: white !important;
    }
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
  }

  p {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 20px;
    width: 20%;
    height: 20%;
    background-color: white;
    text-align: justify;
    white-space: pre-line;
    opacity: 0.5;
    overflow: scroll;
    transition: all 0.5s;
    &:hover {
      opacity: 1;
      height: 50%;
    }
  }
}
