/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require animate.css
 *= require flipclock
 *= require layout
 *= require_tree ./shows
 *= require_self
 */

/* force chrome to redraw when out of focus, so livereload can update the css */
@-webkit-keyframes repaintChrome {from { padding: 0; } to { padding: 0; }}
#env-dev { -webkit-animation: repaintChrome infinite 1s; }
/* show a red dotted border on top only on dev env */
#env-dev body { border-top: 1px solid red; }
