header {
  position: relative;
  width: 100%;
  height: 100%;

  h1 {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8em;
  }
}

#banner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  background-image: url(http://www.temporadalivre.com/blog/wp-content/uploads/show.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
}

main {
  background-color: rgb(42, 42, 42);
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre_v2.png);
}

footer {
  padding: 10px;
  text-align: center;
  color: gray;
  background-color: #222;
}
