@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin left-ribbon($ribbon-color, $text-color, $container-horizontal-padding: 0, $corner-width: 10px) {
    background: $ribbon-color;
    color: $text-color;
    margin-left: -1*($container-horizontal-padding+$corner-width);
    margin-right: -1*($container-horizontal-padding+$corner-width);
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        top: 100%;
        left: 0;
        border-width: 0 $corner-width $corner-width 0;
        border-style: solid;
        border-color: transparent darken($ribbon-color,25%);
    }
}
