@import url(https://fonts.googleapis.com/css?family=Raleway:700);

html, body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial;
}
