header
  h1 = t'title'

main
  section
    - @shows.each do |show|
      article.wow.bounceInUp
        = link_to show do
          = image_tag show.image_url, width: 266, height: 150
        h3 = show.band_name
        h4 = l show.start_at, format: :short
        h5 = show.address
        h6 = show.category
