header
  h1 = @show.band_name
  .flipclock

  iframe src="https://www.google.com/maps/embed/v1/place?q=#{@show.address}&key=AIzaSyBRFo8Wi1mVk-Mhi4H8hPwzlx7u4C4mq2o" frameborder="0"

  p = @show.description.strip

javascript:
  $('.flipclock').FlipClock(#{@show.seconds_until_start}, {clockFace: 'DailyCounter', countdown: true})
