<!DOCTYPE html>
<html<%== ' id="env-dev"' if Rails.env.development? %>>
<head>
  <title>Netshows</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>">

<div id="banner" data-vide-bg="http://cloud.profissional.ws/bgvideos/4.mp4" data-vide-options="posterType: none"></div>

<%= yield %>

<footer>
  <strong><%= Date.current.year %></strong>
  &copy; Marcos Neves
</footer>

</body>
</html>
